{% extends "./base.html" %}

{% block title %}Gestion de Pacientes {% endblock%}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>

        </div>
        {% endfor %}
        {% endif %}
        <h5>Ingresar nuevos pacientes</h5>
        <div class="card">
            <div class="card-body">
                <form action="/registrarPaciente/" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtNombre_pa" name="txtNombre_pa" required class="form-control" placeholder="Nombre del paciente" >
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtApellido_pa" name="txtApellido_pa" required class="form-control" placeholder="Apellido del paciente" >
                    </div>
                    <div class="form-group">
                        <input type="number" id="txtRUT_pa" name="txtRUT_pa" class="form-control" required placeholder="Rut del paciente" >
                    </div>
                    <div class="form-group">
                        <input type="number" id="numbEdad_pa" name="numbEdad_pa" required class="form-control" placeholder="Edad del paciente" >
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtSexo_pa" name="txtSexo_pa" required maxlength="1" minlength="1" class="form-control" placeholder="Sexo del paciente" >
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtSeguro_pa" name="txtSeguro_pa" required class="form-control" placeholder="Seguro" >
                    </div>
                    <div class="form-group">
                        <input type="date" id="dteFechaIngres_pa" name="dteFechaIngres_pa" required class="form-control" placeholder="Fecha de ingreso" >
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-cl-8">

        <h5>Ingreso de pacientes al sistema</h5>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>RUT</th>
                        <th>Edad</th>
                        <th>Sexo</th>
                        <th>Seguro</th>
                        <th>Fecha de Ingreso</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in paciente %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{p.id_paciente}}</td>
                        <td>{{p.pa_nombre}}</td>
                        <td>{{p.pa_apellido}}</td>
                        <td>{{p.pa_rut}}</td>
                        <td>{{p.pa_edad}}</td>
                        <td>{{p.sexo}}</td>
                        <td>{{p.seguro}}</td>
                        <td>{{p.fec_ingreso}}</td>
                        <th><a href="{% url 'EdicionPacientes' p.id_paciente %}" class="btn btn-info">Editar</a></th>
                        <th><a href="{% url 'EliminarPaciente' p.id_paciente %}" class="btn btn-danger btnEliminacion">Eliminar</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}